.myfooter{
    background:#ddd;
    padding:20px 0;
    margin-top:50px;
}
.mynavbar a{
    color:#000;
    margin-left:10px;
    margin-right: 10px;
    text-decoration: none;
}
.mynavbar a:hover{
    text-decoration: underline;
    color: #ffffff;
}